:root {
  --gradient-primary: linear-gradient(
    to right bottom,
    #bcccdc,
    #5a7a8e
  ); /*#008080/#ff7f50 or */
  --color-primary: #211c1d;
  --color-secondary: #f1e2ad;
  --color-tertiary: #b2ac88;
  --color-quaternary: #fffdd0;
  --color-accent: #36454f;
  --color-tab: #faf9f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #b3b3b3;
}

p {
  color: #666;
}
.header__title {
  max-width: 100%;
  max-height: 120%;
  height: 100vh;
  background-image: url(img/header1.png);
  background-size: 100vw; /*cover*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top 50%;
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}
.comfort-or {
  display: flex;
  align-items: center;
  justify-content: start;
}

.comfort-or div {
  margin-right: 2rem;
}

.header__text {
  margin-top: 50px;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.6;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.navigator.sticky {
  position: fixed;
  background-color: #333333;
}
.navigator {
  top: 0;
  left: 0;
  width: 100%;
  max-height: 8rem;
  padding: 20px 100px;
  background: #333333; /*#333333 #708090 #b3b3b3 #9e9e9e*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0.9;
}
.logo {
  margin-left: -60px;
}
.nav a {
  position: relative;
  font-size: 18px;
  color: #dddddd;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #cac4b9;
  transition: 0.5s;
}

.nav a:hover::before {
  width: 100%;
}
#section--2 {
  margin-top: 2rem;
}
#section--3 {
  margin-top: 15rem;
}
.search {
  width: 100%;
  max-width: 700px;
  background: color (255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

::placeholder {
  color: #cac7ff;
}
.search button img {
  width: 25px;
}
.search button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #333333;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #dddddd;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d3d3d3;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 800;
  color: black;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2rem;
  z-index: 3;
  max-width: 20rem;
}
.hea .highlight {
  position: relative;
  z-index: 2;
  max-width: 23.8rem;
}
.highlight.chic {
  max-width: 13.8rem;
}
.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.45;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}
.category-btn {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0.8;
  bottom: 20%;
}
.product-box {
  transition: all 0.5s ease-in-out;
}
.product-box:hover .category-btn {
  opacity: 1;
}
.product-box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.product-box span {
  font-size: 50px;
  color: white;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.section_title {
  text-align: center;
  margin-bottom: 8rem;
  color: #333333;
}
.categories {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}
.categories__tab-container {
  display: flex;
  gap: 28rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.categories__tab {
  background: none;
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 480;
  transition: all 0.3s;
}

.categories__tab--active,
.categories__tab:hover {
  color: #36454f;
  border-bottom: 3px solid #36454f;
}

.categories__content {
  display: none;
  text-align: center;
}

.categories__content--active {
  display: block;
}
.img-fluid1 {
  max-width: 70rem;
  max-height: 100rem;
  height: 50rem;
  width: 70rem;
  position: relative;
  border-radius: 10%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  position: relative;
}

.product-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}
.product-card:hover {
  scale: 1.05;
}
.card-flex {
  display: flex;
}
.card-image {
  width: 4rem;
}
.pad {
  padding: 8rem 8rem 0 0;
  margin: auto;
}
.container {
  max-width: 100%;
}
.img-mode {
  height: 32rem;
}
