*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    margin: 0px 0px 0px -60px;
}
.nav a {
    position: relative;
    font-size: 18px;
    color: #CAC4B9;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #CAC4B9;
    transition: .5s;
}

.nav a:hover::before {
    width: 100%;
}


.search {
    width: 100%;
    max-width: 700px;
    background: color (255 ,255 ,255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}
.search button img{
    width: 25px;
}
.search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}



*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer {
    background-color: black;
    padding: 70px 0;
}

.footer-col{ 
    width: 25%;
    padding: 15px;
}
.footer-col h4{
    font-size: 18px; 
    color: #CAC4B9;
    text-transform: capitalize; 
    margin-bottom: 35px; 
    font-weight: 500; 
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute; 
    Left:0;
    bottom: -10px;
    background-color: #D3D3D3;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{ 
    display: inline-block; 
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2); 
    margin:0 10px 10px 0;
    text-align: center;
    Line-height: 40px; 
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}
body{
    background:rgb(189, 189, 209);

}
.gallery{
    width: 1500px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7,auto);
    grid-gap: 10px;
   
    flex: none;
}
.gallery div img {
    width:100%;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}
.navigation button{
    padding-top: 5px;
    background: rgb(171, 187, 203);
    text-align: center;
    border-radius: 50px;
    width: 200px;
    height:50px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 700px;
    font-size: 25px;
border-color: rgb(171, 187, 203);
}
#next,#prev{
    width: 40px;
    
}
.gallery div img:hover{
 transform: scale(1.1);
 transition: 0.5s ;
}

.image {
    display: block;
    height:auto;
    width: 100%;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    overflow: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    
    transition: 0.5s;
}
.container:hover .overlay{
    height:30px;
    width: auto;
    transform: scale(1.1)
    
}
.container {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    
}
.navigation {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 200px;
    box-sizing: border-box;
}
    



/*.section  {
    display: flex;

    
}*/